<!--<h1>{{char.name}}</h1>
<p>{{char.description}}</p>-->




<div class="" *ngIf="character">
    <img style="width: 400px" class="card-img-top" [src]="character.thumbnail.path + '.' + character.thumbnail.extension" alt="Card image cap">
    <h2>{{character.name}}</h2>
    <p>{{character.description}}</p>
    <div class="list-group">
        <a target="_blank" *ngFor="let url of character.urls" [href]="url.url" class="list-group-item list-group-item-action">
         {{url.type}}
         </a>
    </div>
</div>



<div *ngIf="loading" class="loader">

</div>
<br><br>
<button type="button" class="btn btn-primary" routerLink="/dashboard" routerLinkActive="active">Go back</button>