<!--<app-ui-top-navigation></app-ui-top-navigation>-->

<!--<app-ui-sub-navigation [title]="(observable$ | async)?.title" [description]="(observable$ | async)?.text"></app-ui-sub-navigation>-->

<div class="main">
  <router-outlet></router-outlet>
</div>

<router-outlet name='modal'></router-outlet>
