/*.feed {
  border: 2px dashed hsla(14, 100%, 53%, 0.6);
  margin: 0px 10px;
  padding: 10px;
}

.animation {
  animation: fadeIn 2s;
}

.animation-comment {
  animation: moveFromLeft 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveFromLeft {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}

.comments {
  float: right;
  width: 50%;
}

.comment {
  border-bottom: 4px solid #05ffb0;
  padding: 10px;
}

.clear {
  clear: both;
}
*/

.card {
    display: inline-block;
    margin: .5rem;
}

.card img {
    max-width: 100%;
    position: relative;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.card h4 {
    height: 34px;
    font-size: 1rem;
}

.card .img-wrapper {
    overflow: hidden;
    height: 162px;
}

h2 {
    text-align: center;
    margin: 20px;
}

.input-group {
    text-align: center;
    width: 250px;
    margin: 20px auto;
}

.card-text {
    margin-bottom: 0;
    height: 3.6rem;
    overflow: hidden;
    line-height: 0.9rem;
    font-size: 13px;
}

.form-group.sort-by{
      text-align: center;
}
.form-group.sort-by select.form-control {
    display: inline-block;
    width: 200px;
}