<h2><img src="assets/marvel_logo.png" alt=""></h2>


<h2>Marvel Characters</h2>

<div *ngIf="loading" class="loader">

</div>


<div class="input-group">
    <input type="text" class="form-control" placeholder="Name start by..." [(ngModel)]="nameStartsWith">
    <span class="input-group-btn">
        <button class="btn btn-secondary" 
        type="button"
        (click)="searchCharacterList()">Go</button>
      </span>
</div>

<div class="form-group sort-by">
    <label for="exampleSelect1">Sort By:</label>
    <select class="form-control" id="exampleSelect1" [(ngModel)]="sortBy" (ngModelChange)="reSortBy()">
      <option value="name">Name(A-Z)</option>
      <option value="-name">Name(Z-A)</option>
    </select>
</div>


<div class="input-group">
    <span class="input-group-addon">Page:</span>
    <input type="number" class="form-control" [(ngModel)]="currentPage" aria-label="Page">
    <span class="input-group-addon">of {{totalPage}}</span>
    <span class="input-group-btn">
        <button class="btn btn-secondary" 
        type="button"
        (click)="goToPage()">Go</button>
      </span>
</div>

<!--<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li>
            <label for="pageInput">Sort By:</label>
            <input [(ngModel)]="currentPage" id="pageInput" type="text" class="form-control">
        </li>
        <li class="page-item">
            <a class="page-link" href="#">of {{totalPage}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" (click)="goToPage()">GO</a>
        </li>
    </ul>
</nav>-->


<div class="container" style="text-align: center">
    <div *ngIf="!loading">
        <div class="card" style="width: 13rem;" *ngFor="let char of charactersList">
            <a (click)="setDisplayCharacter(char)" routerLink="/characterDetail" routerLinkActive="active">
                <div class="img-wrapper">
                    <img class="card-img-top" [src]="char.thumbnail.path + '.' + char.thumbnail.extension" alt="Card image cap">
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{char.name}}</h4>
                    <p class="card-text">{{char.description}}</p>
                </div>
            </a>

        </div>
        <br>
        <br>

        <!--<div style="position: relative;padding: 20px;">
            <button type="button" class="btn btn-primary" *ngIf="!loading&&!loadingMore" (click)="loadMore()">Load More</button>
            <div *ngIf="loadingMore" class="loader"></div>
        </div>-->
        <h2 *ngIf="nothingIsFound">Not Found</h2>

    </div>
    <!--<div *ngIf="showResult">
        <h2 *ngIf="nothingIsFound">Not Found</h2>
        <div class="card" style="width: 13rem;" *ngFor="let char of charactersResultList">
            <div class="img-wrapper">
                <img class="card-img-top" [src]="char.thumbnail.path + '.' + char.thumbnail.extension" alt="Card image cap">
            </div>
            <div class="card-block">
                <h4 class="card-title">{{char.name}}</h4>
                <p class="card-text">Intro</p>
            </div>
        </div>
    </div>-->





</div>